.tech-slideshow {
    height: 80vh;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
    height: 70px;
    width: 100%;
    background: url("../../images/commonwealth.png");
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
}

.tech-slideshow .mover-1 {
    animation: moveSlideshow 12s linear infinite;
}

@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}

.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
